LOG_LEVEL=info
SUBSCRIPTION_ID=ec5bfb8e-d941-4823-9080-34a62cf53568
RESOURCE_LOCATION=westus
RESOURCE_GROUP_NAME=RGCM2LIGLB001
GIN_MODE=release
AZURE_TENNANT_ID=d13a2ca4-c4d8-40e5-b02b-dcd0607b8f90
SIGN_IN_AUDIENCE=sign_in_audience
DEFAULT_API_SCOPE=internal
RESOURCE_APP_ID=b0f6bfed-86be-4b5b-9522-4b21ffc4f836
RESOURCE_ACCESS_TYPE=Scope
RESOURCE_ACCESS_ID=f4c21969-69a5-4f1a-a911-286e601e0183